@model IEnumerable<Stack.DBModels.Projects>

@{
    ViewBag.Title = "Projects";
    Layout = null;
}
<table class="table table-striped table-hover table-bordered margin-top-20px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="center">
                <span class="label label-success">Finish</span>
            </td>
            <td class="menu-action rounded-btn">
                <a class="btn menu-icon vd_bg-green" href="/Admin/Articles/Edit?id=@item.ProjectId" data-placement="top" data-toggle="tooltip" data-original-title="view">
                    <i class="fa fa-eye"></i>
                </a>
                <a class="btn menu-icon vd_bg-yellow" href="/Admin/Articles/Details?id=@item.ProjectId" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn menu-icon vd_bg-red" href="/Admin/Articles/Delete?id=@item.ProjectId" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    }

</table>
