<table style="width: 500px;font-family: verdana">
    <tbody>
        <tr>
            <td>
                <img src="http://www.c-sharpcorner.com/App_themes/csharp/images/sitelogo.png" width="150px" height="60px">
                <br>
                <br>
                <div style="border-top:3px solid #22BCE5"> </div>
                <span style="font-size:10pt">
                    <br>
                    Hello <b>{UserName}</b>,<br><br>
                    Thank you for registering with US.
                    <br>
                    <a style="color:#22BCE5" href="{Url}">Click here to confirm</a><br>
                    <br><br>
                    Thanks<br>
                    Tutorials Basket Team
                </span>
            </td>
        </tr>
    </tbody>
</table>