@using Stack.Models;
<div class="fh5co-sidebox margin-top-30px">
    <div>
        <div class="how2 how2-cl4 flex-s-c">
            <h3 class="f1-m-2 cl3 tab01-title">
                Most Recent Questions
            </h3>
        </div>

        <ul class="p-t-35">
            @{
                var count = 1;
                var questionsModel = new QuestionsModel();
            }
            @foreach (var item in questionsModel.GetRecentQuestions())
            {
                <li class="flex-wr-sb-s p-b-22">
                    <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                        @count
                    </div>

                    <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                        @item.Question
                    </a>
                </li>
                count = count + 1;
            }
        </ul>
    </div>
</div>