@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center" style="background-color:#fff">
    <p>
        @*<i class="fa fa-check-circle " aria-hidden="true"></i>*@
        <img src="~/Content/check.png" />
    </p>
    <h1 class="display-3"> @ViewBag.HeaderContent</h1>
    <p class="lead">@Html.Raw(ViewBag.BodyContent)</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/Home" role="button">Continue to homepage</a>
    </p>
</div>
@*<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 ">
                    <div class="hero-unit center">
                        <h1 style="color:green">We have taken your request successfully.<small></small></h1>
                        <br />
                        <p>To continue further please proceed validate your email by clicking on the link which is provided through email.</p>
                        <a href="/home" class="btn btn-large btn-info"><i class="fa fa-home"></i> Take Me Home</a>
                    </div>

            </div>
            <div class="col-md-3"></div>

        </div>
    </div>*@
