@helper GetTreeView(List<Stack.DBModels.ProjectFiles> siteMenu, int parentID)
{
    foreach (var i in siteMenu.Where(a => a.ParentId.Equals(parentID)))
    {
        <li>
            @{var submenu = siteMenu.Where(a => a.ParentId.Equals(i.ProjectFileId)).Count();}
            @if (submenu > 0)
            {
                <span class="collapse1 collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                <a href="">@i.FileName</a>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @Treeview.GetTreeView(siteMenu, i.ProjectFileId)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
    }
}
