@model IEnumerable<Stack.DBModels.Articles>
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />
<script type="text/javascript" src="/DataTables/datatables.min.js"></script>
@{
    ViewBag.Title = "Articles";
    Layout = null;
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success vd_hidden margin-top-10px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
        <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong>Well done! </strong>@ViewBag.Message.
    </div>
}
<table class="table table-striped table-hover table-bordered margin-top-20px">
    <thead>
        <tr>
            <th>Article Name</th>
            <th>Edited Date</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEditedDate)
                </td>
                <td class="center">
                    <span class="label label-success">Finish</span>
                </td>
                <td class="menu-action rounded-btn">
                    <a class="btn menu-icon vd_bg-green" href="/Admin/Articles/Edit?id=@item.ArticleId" data-placement="top" data-toggle="tooltip" data-original-title="view">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn menu-icon vd_bg-yellow" href="/Admin/Articles/Details?id=@item.ArticleId" data-placement="top" data-toggle="tooltip" data-original-title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn menu-icon vd_bg-red" href="/Admin/Articles/Delete?id=@item.ArticleId" data-placement="top" data-toggle="tooltip" data-original-title="delete">
                        <i class="fa fa-times"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>