@*@model Stack.Models.ForgotPasswordViewModel*@
@model Stack.Models.AccountModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}
<div class="section-heading text-center">
    <h2 class="to-animate fadeInUp animated">Forgot Password</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 subtext">
            <h3 class="to-animate fadeInUp animated"></h3>
        </div>
    </div>
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "frmForgotPassword", @class = "sky-form", role = "form" }))
{
    <table style="width: 100%; padding: 10px; margin-bottom:50px">
        <tr>
            <td class="col-md-12">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                        <div class="c-label  "><label id="c-1-7-label" for="c-1-7">Email </label></div>
                        <div class="c-editor c-editor-email">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email address", @class = "form-control" })
                        </div>
                        <div class="c-validation validation-Email" style="display: none !important">Email is required.</div>
                    </div>
                </div>
                <footer>
                    <label style="padding-top: 10px"><a href="#" id="showLogin">Login</a></label>
                    <button type="button" id="btnResetPassword" class="btn btn-primary button">Reset Password</button>
                </footer>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $("#btnResetPassword").click(function () {
            $.ajax({
                type: "POST",
                url: "/Account/ForgotPassword",
                data: $("#frmForgotPassword").serialize(),
                success: function (data) {
                    var msgType = "";
                    if (data.search("successfully") > 0) {
                        msgType = "success";
                    } else {
                        msgType = "error";
                    }
                    //$.toast({
                    //    heading: "Password reset",
                    //    text: data,
                    //    showHideTransition: 'slide',
                    //    icon: msgType,
                    //    hideAfter: 10000,
                    //    position: 'bottom-right'
                    //});
                    notify({
                        //alert | success | error | warning | info
                        type: msgType,
                        title: data,
                        //message: data,
                        position: {
                            x: "right", //right | left | center
                            y: "bottom" //top | bottom | center
                        },
                        icon: '<img src="/images/paper_plane.png"/>',
                    });
                }
            });
    });
</script>